<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles/style.css')}}">
    <title>Register</title>
</head>
<body>
    <div class="main-div">
        <h1>
            Log in
        </h1>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="/create_account" class="form-section" method="post">
            <input type="text" placeholder="Name..." name="name" required>
            <input type="text" name="username" placeholder="Username..." required>
            <input type="email" name="email" placeholder="Email..." required>
            <input type="password" placeholder="Password" name="password" required>
            <input type="password" placeholder="Confirm Password" name="confirm_password" required>
            <h4>Already a member? <a href="/">Sign in</a></h4>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>
